---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Main from "../components/Main.astro";
import About from "../components/About.astro";
import Proyects from "../components/Proyects.astro";
---

<Layout title="Sobre mí | Mi Portfolio">
  <div class="px-6 sm:px-12 md:px-48 mb-20">
    <Main />
    <About />
    <Proyects />
  </div>
</Layout>
